html {height: 100%;}
body { 
	margin: 0;
	padding: 0;
	background: url(LB.jpg) no-repeat;
	font-family: sans-serif;
    background-size: cover;
    
}
#logo{
    font-size: 50px;
    font-family: Berlin Sans FB;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 10px;
}
.loginbox{
    height: 420px;
    width: 320px;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(2px);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    padding: 70px 30px;

}
.loginlogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
} 
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;    
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: skyblue;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover
{
    color: rgb(255, 119, 34);
}


