body {

    background-color: white;
}

#logo {
    background-color: skyblue;
    text-shadow: 1px 1px 1px black;
    margin-top: 0;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0px;
   overflow: hidden;
   background-color: rgb(46,46,46);
   text-transform : uppercase;
   font-family: Berlin Sans FB;
   display: flex;
   justify-content: space-around;
}
ol{
    font-size: 20px;
}
.li {
    float: left;
}
.li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
.li a:hover {
    background-color: skyblue;
}
b {
    background-color: skyblue;
}
#top{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.topgif{
    font-family: Bodoni MT Condensed;
    font-size: 90px;
    font-weight:bolder;
    width:50%;
    text-shadow: 3px 3px 7px black;
    color:rgb(46, 46, 46);
    text-decoration-color: skyblue;
    text-align: left;
    margin-left: 350px;
}
.imagetopgif{
    margin-right: 300px;
    margin-top: 100px;

}
.login {
    padding: 10px 5px;
}
#search {
 
 margin-right: 40%;
 margin-top: 0%;
 font-size: 40px;
 font-family:Bahnschrift SemiBold Condensed;
 background-color: skyblue;
 padding: 20px;
}
#search a:link{
    text-decoration: none;
}
#a1{
    margin-left: 0%;
    padding: 15px;
    width: 52%;
    font-size: 20px;
    border-radius: 0px;
    border-color: skyblue;
}
#a2{
    border-color:skyblue;
    border-style: solid;
    border-radius: 0px;
    font-size: 25px;
    background-color: white;
    padding: 12px;
    color:skyblue;
    margin-left: 18%;
    margin-top: 50px;
    font-weight: bold;
    font-family:sans-serif;
}
#a2 a:link{
    text-decoration:none;
}
.searchbox {
    width: 99.5%;
    border: 0px solid white;
    padding: 15px;
    margin: 0px;
    position: relative;
}
#container {
   position: relative;
   padding:20px;
   height:2100px;
   width:1655px;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   flex-flow:row wrap;
   justify-content:flex-start;
   justify-content:space-evenly;
   align-content:space-between;
   align-items:stretch;
   margin-top: 40px;
   padding-top: 50px;
   padding-bottom: 50px;
   border-radius: 10px;
   z-index: 1;

}
.image {
    height:400px;
    width: 700px;
    box-shadow: 4px 4px 10px black;
}
.C1:hover {
    background-color: rgb(46, 46, 46);
    justify-content: space-evenly;
   
}


.text-block {
   position:relative; 
   bottom: 50px;
   right: 40px;
   background-color:black;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   height: 220px;
   width: 650px;
}
.C1{
    background-color: skyblue;
    padding: 30px;
    height: 600px;
    
}

.dropbtn {
   background-color: rgb(46, 46, 46);
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   font-weight: bold;
}


.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
   color: rgb(46,46,46);
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 16px;
} 


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(46, 46, 46);
}
.Q1{
    font-family: Berlin Sans FB;
    background-image: linear-gradient(to right, black, skyblue, white);
    padding: 15px;
    color: white;
    font-size: xx-large;
    font-weight: lighter;
}
.Q2{
    font-size: larger;
}
.copyright{
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 70px;
    font-family: Berlin Sans FB;
    font-weight: lighter;
    font-size: 40px;
    margin:0;
}